$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #ffff;
$color-grey: #777;
$color-grey-light: #f7f7f7;
$color-blue: #0000ff;
$color-tertiary-dark: #2998ffee;
// section
$color-aqua: #00ffff;

// section services
$color-maroon: #800000;
$color-brown: #a52a2a;
$color-dark-red: #8b0000;

$color-black: #000;

// section events
$color-secondary-dark: #ffb900;
$color-secondary-light: #ff7730;

$color-tertiary2-dark: #2998ff;
$color-tertiary3-light: #5643fa;

// /GRID
$max-width: 114rem;
$vertical-gutter: 8rem; //margin-bottom
$horizontal-gutter: 6rem; //space between the margins
